<nav>
    <div id="nav-left">

        <a href="{% url 'index' %}" class="logo icon-link">
            <i class="fas fa-home"></i>
        </a>
        <ul class="navlinks">
            <li>
                <a href="{% url 'ask'%}" class="icon-link">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <!-- <li class="search-form-li">
                <form class="search-form" action="{% url 'search' %}" method="GET">
                    <input type="text" name="q" value="SZUKAJ">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li> -->
        </div>
        <div id="nav-center">
                <form class="search-form" action="{% url 'search' %}" method="GET">
                    <input type="text" name="q" value="SZUKAJ">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
        </div>
    </div>
    <div id="nav-right">
        <ul class="navlinks">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Zaloguj</a></li>
                <li><a href="{% url 'signup' %}">Zarejestruj</a></li>
            {% endif %}
        </ul>
        <a class="profile-button" href="#" class="icon-link"><i class="fas fa-user-circle"></i></a>
    </div>
</nav>