<nav>
    <div id="nav-left">

        <a href="{% url 'index' %}"><div class="logo"><i class="fas fa-home"></i></div></a>
        <ul id="navlinks">
                <li><a href="{% url 'ask'%}"><i class="fas fa-plus"></i></a></li>
                <li><a href="{% url 'index' %}"></a></li>
                <!-- <div class="searchbar">
                    <form action="{% url 'search' %}" method="GET">
                        <input type="text" name="q" value="SZUKAJ">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div> -->
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Zaloguj</a></li>
                <li><a href="{% url 'signup' %}">Zarejestruj</a></li>
            {% endif %}
        </div>
    </div>
    <div class="profile-button"><i class="fas fa-user-circle"></i></div>

</nav>