p {
    color:brown;
}
.voted {
    color:orangered;
}
nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 120;
    background-color: #4d636f;
    display:flex;
    justify-content: space-between;
    color: white;
}
#nav-left {
    display:flex;
}
#navlinks a {
    color:white;
}
#navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
}
#navlinks li {
    display: inline;
}
a {
    text-decoration: none;
}